@import "@fontsource/atkinson-hyperlegible";
@import "tailwindcss";

@theme {
  --font-sans: "Atkinson Hyperlegible", sans-serif;
}

* {
  @apply touch-manipulation;
}

body,
html {
  color-scheme: dark;
  scrollbar-gutter: stable;
  @apply bg-mist-800;
}

@view-transition {
  navigation: auto;
}
