@import "@fontsource/atkinson-hyperlegible";
@import "tailwindcss";
@import "tailwind-color-pairings";

@theme {
  --font-sans: "Atkinson Hyperlegible", sans-serif;
}

* {
  @apply touch-manipulation;
}

body,
html {
  color-scheme: light dark;
  scrollbar-gutter: stable;
  @apply bg-mist-200-800;
}

@view-transition {
  navigation: auto;
}
