@import url("https://fonts.cdnfonts.com/css/open-runde");
@import "tailwindcss";

@theme {
  --font-sans: "Open Runde", sans-serif;
}

* {
  @apply touch-manipulation;
}

body,
html {
  color-scheme: dark;
  scrollbar-gutter: stable;
  @apply bg-zinc-800;
}

@view-transition {
  navigation: auto;
}

@utility squircle {
  corner-shape: squircle;
}
